<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fatima Fellowship | BLOG_TITLE_HERE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container" id="blog">
  <header>
    <a href="/" id="logo">
      Fatima Fellowship
    </a>
    <nav>
      <a class="selected" href="/blog.html">Blog</a>
      <a href="/mentors.html">Mentors</a>
      <a href="/fellows.html">Fellows</a>
    </nav>
  </header>
  <h1>BLOG_TITLE_HERE</h1>
  <span class="credit">By CREDIT_AUTHORS_HERE</span>
  <p>Use p tags for paragraphs. Use h2 and h3 tags for subheadings.</p>
  <h2>Sample subheading</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, animi, quasi ab officia perspiciatis voluptatum totam, veritatis sint non ipsam sit dicta repellendus dolore inventore quibusdam. Officia unde neque id?</p>
  <p>This is how to do images.</p>
  <figure>
    <img src='bear.jpg' height="200" alt='alt description'/>
    <figcaption>Caption goes here</figcaption>
  </figure>  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, animi, quasi ab officia perspiciatis voluptatum totam, veritatis sint non ipsam sit dicta repellendus dolore inventore quibusdam. Officia unde neque id?</p>
</body>
</html>